<div id="<%= dom_id donation %>">
  <p>
    <strong>Type of donation:</strong>
    <%= donation.type_of_donation %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= donation.weight %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= donation.nature %>
  </p>

  <p>
    <strong>Drop off point:</strong>
    <%= donation.drop_off_point %>
  </p>

  <p>
    <strong>User:</strong>
    <%= donation.user_id %>
  </p>

</div>
